@{
    ViewBag.Title = "Policy";
}

<div class="jumbotron">
    <h1>GAPS</h1>
    <p class="lead">Currently having an insurance policy is of utmost importance since it can help us to make difficult times better..</p>
    <p><a href="https://www.growthaccelerationpartners.com/" class="btn btn-primary btn-lg">Learn more about us &raquo;
</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Earthquake Policy.</h2>
        <p>
            The earthquake policies that are currently handled in the market cover 80% of the claim and with a deductible of 40%, which makes them not attractive, but with GAP Seguros the deductible is 10%.
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Fire policy</h2>
        <p>The fire policies that we handle, in addition to covering the property, the utensils that the property has inside are covered based on an inspection every 6 months.</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Theft policy</h2>
        <p>By having this policy, you insure your property, belongings and money to live in peace.</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>